.row {
    flex-direction: row;
}

.col {
    flex: 1;
}

.col:last-child {
    margin-right: 0;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.mw-50 {
    max-width: 50%;
}

.mw-40 {
    max-width: 40%;
}

.mw-30 {
    max-width: 30%;
}

.mh-50 {
    max-height: 50%;
}

.h-100 {
    height: 100%;
}

.align-child-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-child-start {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.align-child-end {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.content-width {
    width: min-content;
}

.text-align-center {
    text-align: center;
}

.w-90 {
    width: 90%;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.justify-content-center {
    justify-content: center;
}

.m-0 {
    margin: 0px !important;
}

.mr-20 {
    margin-right: 20px;
}

.size-full {
    width: 100%;
    height: 100%;
}

.size-full-and-align-center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}