.shipping-card {
    min-width: 120px;
    margin: 20px auto;
}

.mat-radio-button {
    display: block;
    margin: 5px 0;
}

.show {
    display: none;
}

.mat-form-field-hint-wrapper {
    margin-top: 20px;
    display: block;
}