<div fxLayout="row" fxLayoutAlign="center center" style="padding:20px; padding-top: 10%;">
    <div fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" class="example-container mat-elevation-z8">
        <div fxFill class="example-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>

        <div fxFill fxLayoutAlign="center center" class="example-table-container">
            <table fxFill mat-table [dataSource]="dataSource" class="example-table" matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
                <!-- Number Column -->
                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef> First Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef>LastName</th>
                    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <button (click)="openDialog(row)" mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                            <mat-icon>delete</mat-icon>
                          </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectedRow = selectedRow === row ? null : row" [ngClass]="{ 'selected': row === selectedRow }"></tr>
            </table>
        </div>

        <mat-paginator fxFill [length]="resultsLength" [pageSize]="8"></mat-paginator>
    </div>
</div>