.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
    //background: var(--accent);
}

.sidenav .mat-toolbar {
    background: inherit;
    width: 100%;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-spacer {
    flex: 1 1 auto;
    text-align: right;
}

.mat-radio-button {
    margin: 5px;
    font-weight: 300 !important;
    font-size: unset !important;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}