<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async)? 'over':'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>
            <div class="p-30">
                <img width="60" height="50" alt="Angular Logo" src="assets/image/login.png" />
            </div>
        </mat-toolbar>
        <ng-container *ngFor="let routes of 'dashboard.routes' | translate">
            <mat-nav-list>
                <a mat-list-item>
                    <mat-icon>{{routes.icon}}</mat-icon>{{routes.routetext}}
                </a>
            </mat-nav-list>
        </ng-container>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span class="example-spacer">
                <app-localechange style="padding-right: 80px;"></app-localechange>
                <mat-menu #palleteMenu="matMenu" class="p-10">
                    <mat-card style="display: contents">
                        <mat-card-content>
                            <app-themechanger></app-themechanger>
                        </mat-card-content>
                    </mat-card>
                </mat-menu>
                <button style="right: 70px;" mat-icon-button [matMenuTriggerFor]="palleteMenu">
                    <mat-icon>palette</mat-icon>Theme
                </button>
                <button style="right: 30px;" (click)="logout()" mat-raised-button color="accent">Logout</button>
            </span>
        </mat-toolbar>
        <!-- add the body here -->
        <app-address-form>
        </app-address-form>
        <!-- add the body here -->
    </mat-sidenav-content>
</mat-sidenav-container>