<div fxFill fxLayout="column">
    <div fxLayout="column" fxFill fxLayoutAlign="center center">
        <div>
            <img width="100" height="100" alt="Angular Logo" src="assets/image/login.png" />
        </div>
        <div [ngClass]="(isHandset$|async)? 'w-90':'mw-30'">
            <mat-card class="p-0 m-0">
                <mat-card-title class="p-0">
                    <mat-toolbar fxLayoutAlign="center center" color="primary">
                        <div>Signup</div>
                    </mat-toolbar>
                </mat-card-title>
                <mat-card-content class="p-20 text-align-center">
                    <form *ngIf="userRegistrationFormGroup" [formGroup]="userRegistrationFormGroup" (ngSubmit)="signup()">
                        <mat-form-field fxFill>
                            <mat-label>First Name</mat-label>
                            <input formControlName="firstName" matInput>
                            <mat-error *ngFor="let message of userRegistrationFormGroup.controls.firstName['errorMessages']">
                                {{message}}</mat-error>
                        </mat-form-field>

                        <mat-form-field fxFill>
                            <mat-label>Last Name</mat-label>
                            <input formControlName="lastName" matInput>
                            <mat-error *ngFor="let message of userRegistrationFormGroup.controls.lastName['errorMessages']">
                                {{message}}</mat-error>
                        </mat-form-field>

                        <mat-form-field fxFill>
                            <mat-label>Email</mat-label>
                            <input formControlName="email" matInput placeholder="Enter your Email">
                            <mat-hint align="end">example admin@abc.com</mat-hint>
                            <mat-error *ngFor="let message of userRegistrationFormGroup.controls.email['errorMessages']">
                                {{message}}</mat-error>
                        </mat-form-field>

                        <mat-form-field fxFill>
                            <mat-label>Password</mat-label>
                            <input formControlName="password" type="password" matInput placeholder="Enter your password">
                            <mat-hint align="end">example admin@123.</mat-hint>
                            <mat-error *ngFor="let message of userRegistrationFormGroup.controls.password['errorMessages']">
                                {{message}}</mat-error>
                        </mat-form-field>
                        <button mat-raised-button color="accent">Signup</button>
                    </form>
                </mat-card-content>
            </mat-card>
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px">
                <div style="padding-top: 10px;">
                    <mat-hint><small style="padding-right: 10px;"> Already have an account?</small><a routerLink="/login"><small>Login</small></a></mat-hint>
                </div>
            </div>
        </div>
    </div>
</div>