@import "~@angular/material/theming";
@import "./customstyles/styleA.scss";
@import "./customstyles/styleB.scss";
@import "./customstyles/styleC.scss";
@import "./customstyles/padding.scss";
@import "./customstyles/commonstyles.scss";
@include mat-core();
html,
body {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}