<div class="align-child-center">
    <mat-card class="example-card ">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Kushal Baldev</mat-card-title>
            <mat-card-subtitle>Software Engineer</mat-card-subtitle>
        </mat-card-header>
        <img style="height: 230px;
    width: 230px;
    padding-left: 85px;" mat-card-image src="assets/image/login.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                Hii,I am Kushal Baldev Software Engineer at Spec-India,want to know more about me can email me at
                <i>baldevkushal@gmail.com</i>
            </p>
            <p style="text-align: center;">Happy coding..!!</p>
        </mat-card-content>
        <mat-card-actions align=center>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>